<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri">Cursuri</a></li>
        <li class="breadcrumb-item active">Secțiuni</li>

        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-auto ms-3"><a href="/sectiuni/modifica"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>Secțiuni</h1>

<form method="post" novalidate onsubmit="saveBtn.disabled = true; return true;"></form>
<table class="table thead-light table-bordered table-hover mt-5">
    <thead>
        <tr>
            <th>Cod</th>
            <th>Nume</th>
            <th>CreatLa (UTC)</th>
        </tr>
    </thead>
    <tbody>
        {{#each sections}}
        <tr>
            <td>{{code}}</td>
            <td>
                <a href="/sectiuni/{{_id}}">{{name}}{{#unless name}}Fără nume{{/unless}}
            </td>
            <td>{{createdOn}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>