<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Cursuri</li>
        <li title="Vizualizează" class="ms-auto me-2"><a href="/cursuri/{{course._id}}"><i class="bi bi-eye me-1"></i></a></li>
        
        {{#if canCreateOrEditCourse}}
        <li title="Editează"><a href="/cursuri/modifica"><i class="bi bi-pencil me-1"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>Cursuri</h1>

<pre><code>{{{coursesAsPrettyJson}}}</code></pre>