<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="#">Acasa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editia {{editionNumber}}</li>
    </ol>
</nav>
<h1>MateMaraton - Editia 1 (2017-18)</h1>

<h5>Documente</h5>
<ul>
    <li><a href="https://drive.google.com/open?id=1B7tPDyBxGRLZf-0Y-RqJea2D-T3BWRnsort-6HdiAbE"
            target="_blank">Descrierea proiectului</a></li>
    <li><a href="https://drive.google.com/open?id=14uaY1s7qRvZyKp0ggIeKAdL6BSYVr7REHQaCbnGvvTk"
            target="_blank">Activitatea si prezenta - etapa de incalzire </a> (primele 4 saptamani)</li>
    <li><a href="https://drive.google.com/open?id=1Tw3d2_Zu7BPXNkx-UE8Tj1k-q8hCkEpqnXGh53yoytE"
            target="_blank">Activitatea si prezenta - etapa de anduranta</a></li>
    <li><a href="https://drive.google.com/open?id=1CGs-szeqDIu8nrFKWz6GoktLREZo5OcYAP8tzwT-0r0"
            target="_blank">Activitatea si prezenta - etapa de sprint</a> (ultimele 6 saptamani)</li>
    <li><a href="https://drive.google.com/open?id=1mMyUq4VKS1d_ZmWtidOdhooaH9szBncmTSKBmQ0KZUU" target="_blank">Analiza
            si concluzii</a></li>
</ul>

<h5>Orar:</h5>
<ul>
    <li>Cls 8 - Avansati: 09 - 10:30</li>
    <li>Cls 8 - Incepatori: 10:30 - 12</li>
</ul>
<p style="padding-left:40px">Cursurile se tin in fiecare sambata, la Scoala 21, Tm.</p>

<h5>Comunicare:</h5>
<ul>
    <li><a href="https://matemaraton.ro" target="_blank">matemaraton.ro</a> - materiale de lucru, rapoarte, statistici
    <li><a href="https://matemaraton-editia1.slack.com" target="_blank">matemaraton-editia1.slack.com</a> - grupuri de
        lucru cu elevii (privat)</li>
</ul>

<h5>Mentor:</h5>
<ul>
    <li>ing. Lucian Maran</li>
    <li>lucian.maran@gmail.com</li>
</ul>

<h5>Absolventii MateMaraton, Editia 1:</h5>
<p>Amalia, Alexandra, Denis, Nicoleta, Iustin, Andi</p>
<img src="https://matemaraton.blob.core.windows.net/share/matemaraton-echipa-2017-18.jpg" class="img-fluid"
    alt="Absolventi MateMaraton Editia1">
<p>O poza facuta cu cateva zile inainte de EN, la sfarsitul ultimei ore de curs. Lipseste Andi.</p>