{{!-- <div class="alert alert-success" role="alert">
    Pagina in lucru. Continutul complet va fi adaugat in 12.11.2019
</div> --}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="/">Acasa</i></a></li>
        <li class="breadcrumb-item"><a href="/pregatire-teza-s1-editia-3">Pregatire teza sem.1</i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Materiale teza sem.1</li>
    </ol>
</nav>



<h1>Materiale pt. pregatirea tezei</h1>
<h2 class="mb-5"> Sem. 1, 2019-2020</h2>

<h5>
    Clasa a 8-a
</h5>

<table class="table table-bordered table-sm">
    <tr>
        <td>
            Test-1
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t1.jpg">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t1-raspunsuri.jpg">Raspunsuri</a>
        </td>
        <td>
            Sursa: mate 2000, Paralela 45
        </td>
    </tr>
    <tr>
        <td>
            Test-2
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t4-new.jpg">Subiecte</a> (in
            clasa)
        </td>
        <td>
            <a
                href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t4-new-raspunsuri.jpg">Raspunsuri</a>
        </td>
        <td>
            Sursa: mate 2000, Paralela 45
        </td>
    </tr>
    <tr>
        <td>
            Test-3
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t2.pdf">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t2-raspunsuri.pdf">Raspunsuri</a>
        </td>
        <td>
            Sursa: Liceul teoretic Dej, 2017
        </td>
    </tr>
    <tr>
        <td>
            Test-4
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t4.pdf">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t4-raspunsuri.pdf">Raspunsuri</a>
        </td>
        <td>
            Sursa: ISJ Ilfov, 2016
        </td>
    </tr>
    <tr>
        <td>
            Test-5
        </td>
        <td>
            se da in clasa
        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Test-6
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t5.pdf">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t5-raspunsuri.pdf">Raspunsuri</a>
        </td>
        <td>
            Sursa: ISJ Ilfov, 2014
        </td>
    </tr>
    <tr>
        <td>
            Test-7
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t6.pdf">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls8-sem1-t6-raspunsuri.pdf">Raspunsuri</a>
        </td>
        <td>
            Sursa: ISJ Ilfov, 2015
        </td>
    </tr>
</table>

<h5 class="mt-5">
    Clasa a 6-a
</h5>

<table class="table table-bordered table-sm">
    <tr>
        <td>
            Test-1
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t1.jpg">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t1-raspunsuri.jpg">Raspunsuri</a>
        </td>
        <td>
            Sursa: mate 2000, Paralela 45
        </td>
    </tr>
    <tr>
        <td>
            Test-2
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t4.jpeg">Subiecte</a> (in
            clasa)
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t4-raspunsuri.jpg">Raspunsuri</a>
        </td>
        <td>
            Sursa: mate 2000, Paralela 45
        </td>
    </tr>
    <tr>
        <td>
            Test-3
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t1-new.jpeg">Subiecte</a>
        </td>
        <td>
            <a
                href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t1-new-raspunsuri.jpeg">Raspunsuri</a>
        </td>
        <td>
            Sursa: mate 2000, Paralela 45
        </td>
    </tr>
    <tr>
        <td>
            Test-4
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t7-new.jpeg">Subiecte</a>
        </td>
        <td>
            <a
                href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t7-new-raspunsuri.jpeg">Raspunsuri</a>
        </td>
        <td>
            Sursa: mate 2000, Paralela 45
        </td>
    </tr>
    <tr>
        <td>
            Test-5
        </td>
        <td>
            se da in clasa
        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Test-6
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t9-new.jpeg">Subiecte</a>
        </td>
        <td>
            <a
                href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t9-new-raspunsuri.jpeg">Raspunsuri</a>
        </td>
        <td>
            Sursa: mate 2000, Paralela 45
        </td>
    </tr>
    <tr>
        <td>
            Test-7
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t10-new.jpeg">Subiecte</a>
        </td>
        <td>
            <a
                href="https://matemaraton.blob.core.windows.net/share/teza-cls6-sem1-t10-new-raspunsuri.jpeg">Raspunsuri</a>
        </td>
        <td>
            Sursa: mate 2000, Paralela 45
        </td>
    </tr>

</table>