<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active" aria-current="page">Program simulare EN</li>
    </ol>
</nav>

<h1>Program pt. pregătirea Simulării Evaluării Naționale</h1>
<h2 class="mb-5"> Martie, 2020</h2>

<h5>Luni, Marți (9-10 Mar.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-simulare-en-editia-3">Test-1</a>; termen predare Miercuri, 11 Mar.
    </li>
</ul>

<h5>Miercuri (11 Mar.)</h5>
<ul>
    <li>La școală: <a href="/materiale-simulare-en-editia-3">Test-2</a>; <span class="font-weight-bold text-danger">test
            pe
            notă</span> (condiții de examen)</li>
    <li>Ora 17-19 (cls 8., toate grupele)</li>
</ul>

<h5>Joi, Vineri (12-13 Mar.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-simulare-en-editia-3">Test-3</a>; termen predare Sâmbătă, 14 Mar.
    </li>
</ul>

<h5>Sâmbătă (14 Mar.)</h5>
<ul>
    <li>La școală: program după orarul obișnuit.</li>
    <li>Analizăm la fiecare grupa: <span class="font-weight-bold">Test-1</span>, <span
            class="font-weight-bold">Test-2</span>
        si <span class="font-weight-bold">Test-3</span></li>
</ul>

<hr class="mt-5 mb-5">

<h5>Luni, Marți (16-17 Mar.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-simulare-en-editia-3">Test-4</a>; termen predare Miercuri, 18 Mar.
    </li>
</ul>

<h5>Miercuri (18 Mar.)</h5>
<ul>
    <li>La școală <a href="/materiale-simulare-en-editia-3">Test-5</a>; <span class="font-weight-bold text-danger">test
            pe
            notă</span> (condiții de examen)</li>
    <li>Ora 17-19 (cls 8., toate grupele)</li>
</ul>

<h5>Joi, Vineri (19-20 Mar.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-simulare-en-editia-3">Test-6</a>; termen predare Sâmbătă, 21 Mar.
    </li>
</ul>


<h5>Sâmbătă (21 Mar.)</h5>
<ul>
    <li>La scoală: program după orarul obișnuit.</li>
    <li>Analizăm la fiecare grupă: <span class="font-weight-bold">Test-4</span>, <span
            class="font-weight-bold">Test-5</span>
        și <span class="font-weight-bold">Test-6</span></li>
    </li>
    <li>Ultimele retușuri: argumentare, redactare...</li>
</ul>

<hr class="mt-5 mb-5">

<h5>Obs:</h5>
<ul class="mb-5">
    <li>
        Testele primite ca temă se scriu pe <span class="font-weight-bold">coli albe</span> (A4) și se predau la
        școală, în zilele stabilite. În caz de absență, se pot trimite pozele.
    </li>
    <li>
        Atât testele (primite ca temă) cât și cele două simulări (date in clasă) vor fi corectate, notate și returnate
        copiilor.
    </li>
</ul>