<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/cursuri/">Cursuri</a></li>
        <li class="breadcrumb-item"><a href="/sectiuni/">Secțiuni</a></li>

        <li title="Vizualizează" class="ms-auto ms-3"><a href="/sectiuni"><i class="bi bi-eye"></i></a></li>
        {{#if canCreateOrEditCourse}}
        <li title="Editează" class="ms-3"><a href="/sectiuni/modifica"><i class="bi bi-pencil"></i></a></li>
        {{/if}}
    </ol>
</nav>

<h1>Secțiuni</h1>

<pre><code>{{{sectionsAsPrettyJson}}}</code></pre>