<style>
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }
</style>

<div class="starter-template">
    <h1>Matematica pentru EN</h1>
    <h5 class="font-italic2 font-weight-light"> Un proiect implementat de voluntari, in parteneriat cu Scoala 21
        “Vicentiu Babes”, Timisoara.</h5>

</div>

{{!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Acasa</a></li>
        <li class="breadcrumb-item active" aria-current="page">MateMaraton</li>
    </ol>
</nav> --}}

<h2>Editia 3 (2019-20)</h2>

<h5>Grupe</h5>
<ul>
    <li><a href="/clase/5d92db9ba0da913a67b9a711">Cls 8 - Grupa 1</a></li>
    <li><a href="/clase/5d92dba4a0da913a67b9a712">Cls 8 - Grupa 2</a></li>
    <li><a href="/clase/5d92dc63a0da913a67b9a713">Cls 6 - Grupa 3</a></li>
    <li><a href="/clase/5db470a58f57b35330bc93c5">Cls 8 - Grupa 4</a></li>

</ul>

{{!-- <h5>Cursuri <span class="font-weight-light text-secondary">(poze de pe tabla)</span></h5>
<ul>
    <li><a href="/cursuri/grupe/8-avansati">Cls 8 - Avansati</a></li>
    <li><a href="/cursuri/grupe/8-incepatori">Cls 8 - Incepatori</a></li>
    <li><a href="/cursuri/grupe/5-avansati">Cls 5 - Avansati</a></li>

</ul> --}}

{{!-- <h5>Materiale</h5>
<ul>
    <li><a href="/pregatire-simulare-en">Programul si materialele folosite pt. pregatirea simularii EN</a>
        (cls.8, sem.2)</li>
    <li><a href="https://drive.google.com/open?id=1f-pmO9J0dlvaNaoPHnDvEotK91HTAsAeXTkjTWUcEdY"
            target="_blank">Programul
            si materialele folosite pt. pregatirea tezei</a> (cls.8, sem.1)</li>
    <li><a href=" https://drive.google.com/open?id=12NknbAonWK2lffp0NC7dSowp0ij9Q4pwgfmCfV3h4mk"
            target="_blank">Planificare
            materie</a>
        (sem.1)</li>
    <li><a href="https://drive.google.com/open?id=17TLOMu2ccXAyEJEM2dQM-ahoyyfVVkgGaO-nAN3go5Y" target="_blank">Teme
            predate</a>
        (centralizator, sem.1)</li>
    <li><a href="https://drive.google.com/open?id=1eXbk_yqioy2K-jHwgwoHMd7cbJk_PW_SMXV8t787Hzo" target="_blank">Teme
            propuse</a>
        (pt. acasa, sem.1)</li>
</ul> --}}

<h5>Orar:</h5>
<ul>
    <li>Cls 8 - Grupa 1: 09:00 - 10:45</li>
    <li>Cls 8 - Grupa 2: 10:45 - 12:00</li>
    <li>Cls 6 - Grupa 3: 12:00 - 13:30</li>
    <li>Cls 8 - Grupa 4: 13:30 - 14:30</li>
</ul>
<p style="padding-left:40px">Cursurile se tin in fiecare sambata, la Scoala 21, Tm.</p>

<h5>Instructor:</h5>
<ul>
    <li>ing. Lucian Maran</li>
    <li>lucian.maran@gmail.com</li>
    <li><a href="https://www.facebook.com/matemaraton" target="_blank">facebook.com/matemaraton</a></li>
    <li><a href="https://www.whatsapp.com" target="_blank">WhatsApp</a> (acces pe baza
        de invitatie)</li>
</ul>

<hr>

<h5>Editii anterioare:</h5>
<ul>
    <li><a href="/editia-2">Editia 2</a> (2018 - 2019)</li>
    <li><a href="/editia-1">Editia 1</a> (2017 - 2018)</li>
</ul>