/* body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, Times, Times New Roman, serif;
    font-weight: 600;
}
code,
pre {
    font-family: courier new, Courier, monospace;
} */
.breadcrumb {
    padding: 2px;
    background-color: #f5f5f5;
    color: #337ab7;
}

/* Add red star for required fields */
.required:after {
    color: #dc3545;
    content: "*";
    margin-left: 4px;
    position: absolute;
}

/* right align labels in forms 
https://github.com/twbs/bootstrap/issues/20643#issuecomment-325579156 */
@media (min-width: 768px) {
    .row > .col-form-label {
        text-align: right;
    }
}

/* mobile and tablet */
@media (max-width: 992px) {
    #cart-span {
        margin-right: 14px;
    }


    .has-cart-items {
        border-color: red !important;
    }
    .has-cart-items .navbar-toggler-icon {
        background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

/* upload files - start*/
.drop-area {
    /* border: 2px dashed #ccc;
    background: #f8f8f8;
    width: 100%;
    padding: 15px; */
}

.drop-area.highlight {
    /* border-color: #007bff; */
    background: #f8f8f8;
}

.gallery img {
    _width: 300px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.upload-file-select-label {
    display: inline-block;
    margin-bottom: 0;
    padding: 1px 10px 3px 10px;
    background: #e7f3ff;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #1876f2;
}

.upload-file-select-label:hover {
    background: #e4ebf1;
}
/* upload files - end*/

@media print {
    div {
        break-inside: avoid;
    }

    .hide-on-print,
    nav {
        display: none;
    }

    body {
        font-size: 0.8rem;
    }

    .solution-div img {
        max-height: 140px;
    }
}

.show {
    opacity: 1;
}
.hide {
    opacity: 0;
    transition: opacity 400ms;
}

.show-green {
    color: green;
}
.hide-green {
    color: black;
    transition: color 400ms;
}

.markdown-preview {
    border-width: 1px;
    border-top-width: 0;
    border-style: solid;
    padding: 6px 12px;
    min-height: 58px;
    border-radius: 0 0 4px 4px;
}

.markdown-preview-only {
    border-top-width: 1px;
    border-radius: 4px;
}

.markdown-preview-amber {
    border-color: #bb815d;
    background-color: #fff9f8;
}

.markdown-preview-gray {
    border-color: #ced4da;
    background-color: #f9f9f9;
}

.markdown-textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: dashed;
}

.markdown-textarea-amber {
    border-color: #bb815d;
}

/* Overwrite some highlight.js settings */
.hljs-attr {
    font-weight: bold;
}

.hljs-string {
    color: green;
}

.hljs-keyword {
    color: firebrick;
}

/* https://stackoverflow.com/a/50931961 */
.btn-group-xs > .btn, .btn-xs {
    padding: 0px 5px;
    font-size: 14px;
    border-radius: 3px;
}

.hints-div p {
    margin-bottom: 0;
}

.answer-div p {
    margin-bottom: 0;
}

.solution-div img {
    max-height: 150px;
}

.statement-input {
    border-radius:0; 
    border-bottom-width:0; 
    border-color:#bb815d;
}