<div class="container-fluid">

    <div class="alert alert-info">
        <i class="bi bi-info-circle me-2"></i>
        Link-ul de
        <strong>activare</strong>
        a fost trimis pe
        <strong>email</strong>, la adresa furnizată anterior!
    </div>

    Dacă mesajul nu a sosit în câteva secunde, te rugăm să verifici si folder-ul
    <strong>spam</strong>!

</div>