<div class="container-fluid">

    <div class="alert alert-info">
        <i class="bi bi-info-circle me-2"></i>
        <strong>Invitația</strong>
        a fost trimisă cu succes!
    </div>

    Dacă mesajul nu a sosit în câteva secunde, te rugăm să verifici si folder-ul
    <strong>spam</strong>!

    {{#if userIsNotAuthenticated}}
        Poți continua cu pagina de
        <a href="/login">login</a>
    {{else}}
        Poți continua cu
        <a href="/">pagina principală</a>.
    {{/if}}

</div>