{{!-- <div class="alert alert-success" role="alert">
    Pagina in lucru. Continutul complet va fi adaugat in 12.11.2019
</div> --}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/program-simulare-en-editia-3">Program simulare EN</a></li>
        <li class="breadcrumb-item active">Materiale</li>
    </ol>
</nav>


<h1>Materiale pt. pregătirea Simulării Evaluării Naționale</h1>
<h2 class="mb-5">Cls.8, Martie, 2020</h2>


<h5 class="mt-5">
    Subiecte oficiale (MEN):
</h5>

<table class="table table-bordered table-sm">
    <tr>
        <td>
            Test-1
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2019-simulare-en.pdf">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2019-simulare-en-barem.pdf">Barem</a>
        </td>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2019-simulare-en-rezolvare.pdf">Rezolvare</a>

        </td>
        <td>
            Simularea EN, <span class="fw-bold">2019</span>
        </td>
    </tr>
    <tr>
        <td>
            Test-2
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2018-simulare-en.pdf">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2018-simulare-en-barem.pdf">Barem</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2018-simulare-en-rezolvare.pdf">Rezolvare</a>

        </td>
        <td>
            Simularea EN, <span class="fw-bold">2018</span>
        </td>
    </tr>
    <tr>
        <td>
            Test-3
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2017-simulare-en.pdf">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2017-simulare-en-barem.pdf">Barem</a>
        </td>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2017-simulare-en-rezolvare.pdf">Rezolvare</a>

        </td>
        <td>
            Simularea EN, <span class="fw-bold">2017</span>
        </td>
    </tr>
    <tr>
        <td>
            Test-4
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2016-simulare-en.pdf">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2016-simulare-en-barem.pdf">Barem</a>
        </td>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2016-simulare-en-rezolvare.pdf">Rezolvare</a>

        </td>
        <td>
            Simularea EN, <span class="fw-bold">2016</span>
        </td>
    </tr>
    <tr>
        <td>
            Test-5
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2015-simulare-en.pdf">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2015-simulare-en-barem.pdf">Barem</a>
        </td>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2015-simulare-en-rezolvare.pdf">Rezolvare</a>

        </td>
        <td>
            Simularea EN, <span class="fw-bold">2015</span>
        </td>
    </tr>
    <tr>
        <td>
            Test-6
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2014-simulare-en.pdf">Subiecte</a>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2014-simulare-en-barem.pdf">Barem</a>
        </td>
        </td>
        <td>
            <a href="https://matemaraton.blob.core.windows.net/share/2014-simulare-en-rezolvare.pdf">Rezolvare</a>

        </td>
        <td>
            Simularea EN, <span class="fw-bold">2014</span>
        </td>
    </tr>

</table>


{{!--
<h5 class="mt-5">
    Testele date la școală (condiții de examen):
</h5>

 <table class="table table-bordered table-sm">
    <tr>
        <td>
            Test-E1
        </td>
        <td>
            Subiecte
            <a href="https://matemaraton.blob.core.windows.net/share/2020-simulare-en-model-hunedoara.pdf">Subiecte</a>
        </td>
        <td>
            Barem
            <a
                href="https://matemaraton.blob.core.windows.net/share/2020-simulare-en-model-hunedoara-barem.pdf">Răspunsuri</a>
        </td>
        <td>
            Se publică in 12.03.2020 (după ce testul a fost dat)
        </td>
    </tr>
    <tr>
        <td>
            Test-E2
        </td>
        <td>

            <a href="https://matemaraton.blob.core.windows.net/share/2020-simulare-en-model-hunedoara.pdf">Subiecte</a>
        </td>
        <td>
            Barem
            <a
                href="https://matemaraton.blob.core.windows.net/share/2020-simulare-en-model-hunedoara-barem.pdf">Răspunsuri</a>
        </td>
        <td>
            Se publică in 19.03.2020 (după ce testul a fost dat)
        </td>
    </tr>

</table> --}}

{{!-- <p>Toate rezolvările de pe această pagina aparțin bine-cunoscutului profesor <a
        href="https://profesorjitaruionel.com/2019/11/15/100-modele-oficiale-edu-evaluarea-nationala-2020-matematica-si-limba-romana-clasa-a-8-a-100-teste-capacitate2020-en-2020/">Jitaru
        Ionel</a>. Îi mulțumim!</p> --}}

<h5 class="mt-5">Obs:</h5>
<ul class="mb-5">
    {{!-- <li>
        Pentru auto corectare, toate testele conțin atât baremul cât și rezolvările complete. Astfel, în plus fața de
        soluțiile propriu-zise, elevul are acces la exemple de argumentare și redactare pentru o lucrare de nota 10.
    </li> --}}
    <li>Toate rezolvările de pe această pagina aparțin cunoscutului profesor <a
            href="https://profesorjitaruionel.com/2019/11/15/100-modele-oficiale-edu-evaluarea-nationala-2020-matematica-si-limba-romana-clasa-a-8-a-100-teste-capacitate2020-en-2020/">Jitaru
            Ionel</a>. Îi mulțumim!</li>
    <li>Testele de mai sus reprezintă materialele folosite în <a href="/program-simulare-en-editia-3">programul de
            pregătire </a> a Simulării EN, MateMaraton, Martie 2020.</li>
</ul>