<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="/">Acasa</i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Pregatire teza sem.1</li>
    </ol>
</nav>

<h1>Program pt. pregatirea tezei</h1>
<h2 class="mb-5"> Sem. 1, 2019-2020</h2>

<h5>Luni, Marti (11-12 Nov.)</h5>
<ul>
    <li>Acasa: rezolvare <a href="/materiale-teza-s1">Test-1</a>; termen predare Miercuri, 13 Nov.
    </li>
</ul>

<h5>Miercuri (13 Nov.)</h5>
<ul>
    <li>La scoala: <span class="font-weight-bold">Test-2</span>; test pe nota (simulare
        teza, 1h)</li>
    <li>ora 17-18 (toate grupele)</li>
</ul>

<h5>Joi si Vineri (14-15 Nov.)</h5>
<ul>
    <li>Acasa: rezolvare <a href="/materiale-teza-s1">Test-3</a>; termen predare Sambata, 16 Nov
    </li>
</ul>

<h5>Sambata (16 Nov.)</h5>
<ul>
    <li>La scoala: program dupa orarul obisnuit.</li>
    <li>analizam la fiecare grupa <span class="font-weight-bold">Test-1</span>, <span
            class="font-weight-bold">Test-2</span>
        si <span class="font-weight-bold">Test-3</span></li>
    {{!-- <li>rezolvam <a href="/pregatire-simulare-en-en-editia-2#test3">Test-4</a> (in timpul ramas)</li> --}}
</ul>

<hr class="mt-5 mb-5">

<h5>Luni, Marti (18-19 Nov.)</h5>
<ul>
    <li>Acasa: rezolvare <a href="/materiale-teza-s1">Test-4</a>; termen predare Miercuri, 20 Nov.
    </li>
</ul>

<h5>Miercuri (20 Nov.)</h5>
<ul>
    <li>La scoala <span class="font-weight-bold">Test-5</span>; simulare
        teza (conditii de examen) - toate grupele</li>
    <li>ora 17-18 (cls.6), ora 17-19 (cls.8)</li>
</ul>

<h5>Joi, Vineri, Sambata (21-23 Nov.)</h5>
<ul>
    <li>Acasa: rezolvare <a href="/materiale-teza-s1">Test-6</a>, <a href="/materiale-teza-s1">Test-7</a>; termen
        predare Luni, 25
        Nov (grupa-1, grupa-3) si Marti 26 Nov (grupa-2, grupa-4)
    </li>
</ul>
{{!-- 
<h5>Vineri (22 Nov)</h5>
<ul>
    <li>La scoala: program dupa orarul obisnuit.</li>
    <li>Analizam la fiecare grupa <span class="font-weight-bold">Test-1</span>
        si <span class="font-weight-bold">Test-2</span></li>
    <li>rezolvam <a href="/pregatire-simulare-en-en-editia-2#test3">Test-4</a> (in timpul ramas)</li>
</ul> --}}

<h5>Sambata (23 Nov)</h5>
<ul>
    <li>Nu se tin ore (scoala este inchisa pt. alegeri)</li>
</ul>

<hr class="mt-5 mb-5">

<h5>Luni (25 Nov)</h5>
<ul>
    <li>La scoala, 16:30 - 18 (grupa-1), 18 - 19:30 (grupa-3)</li>
    <li>analizam la fiecare grupa <span class="font-weight-bold">Test-4</span>, <span
            class="font-weight-bold">Test-5</span>, <span class="font-weight-bold">Test-6</span>
        si <span class="font-weight-bold">Test-7</span></li>
    </li>
    <li>ultimele retusuri: argumentare, redactare...</li>
</ul>

<h5>Marti (26 Nov)</h5>
<ul>
    <li>La scoala, 16:45 - 18 (grupa-2), 18 - 19 (grupa-4)</li>
    <li>analizam la fiecare grupa <span class="font-weight-bold">Test-4</span>, <span
            class="font-weight-bold">Test-5</span>, <span class="font-weight-bold">Test-6</span>
        si <span class="font-weight-bold">Test-7</span></li>
    </li>
    <li>ultimele retusuri: argumentare, redactare...</li>
</ul>

<hr class="mt-5 mb-5">

<h5>Obs:</h5>
<ul class="mb-5">
    <li>
        Testele primite ca tema se scriu pe <span class="font-weight-bold">coli albe</span> (A4) si se predau la
        scoala, in zilele stabilite. In caz de absenta, se pot trimite pozele.
    </li>
    <li>
        Atat testele (primite ca tema) cat si cele 2 simulari (date in clasa) vor fi corectate, notate si returnate
        copiilor.
    </li>
    <li>
        Daca la testele primite ca tema apar notiuni care nu s-au predat la scoala, se scrie in dreptul exercitiului
        "nu s-a facut".
    </li>
    <li>
        Nimic din ceea ce este prezentat in acest program <span class="font-weight-bold">nu este obligatoriu</span>!
    </li>
</ul>