<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Program simulare EN</li>
    </ol>
</nav>

<h1>Program pt. pregătirea Simulării Evaluării Naționale</h1>
<h2 class="mb-5">Cls.8, Martie, 2020</h2>

<h5>Luni, Marți (9-10 Mar.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-simulare-en-editia-3">Test-3</a>; termen predare Miercuri, 11 Mar.
    </li>
</ul>

<h5>Miercuri (11 Mar.)</h5>
<ul>
    <li>La școală: <a href="/materiale-simulare-en-editia-3">Test-7</a>; <span class="fw-bold text-danger">test
            pe notă</span> (condiții de examen)</li>
    <li>Ora 17-19 (cls 8., toate grupele)</li>
</ul>

<h5>Joi, Vineri (12-13 Mar.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-simulare-en-editia-3">Test-4</a>; termen predare Sâmbătă, 14 Mar.
    </li>
</ul>

<h5>Sâmbătă (14 Mar.)</h5>
<ul>
    <li>La școală: program după orarul obișnuit.</li>
    <li>Analizăm la fiecare grupa: <span class="fw-bold">Test-3</span>, <span
            class="fw-bold">Test-7</span>
        si <span class="fw-bold">Test-4</span></li>
</ul>

<hr class="mt-5 mb-5">

<h5>Luni, Marți (16-17 Mar.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-simulare-en-editia-3">Test-5</a>; termen predare Miercuri, 18 Mar.
    </li>
</ul>

<h5>Miercuri (18 Mar.)</h5>
<ul>
    <li>La școală <a href="/materiale-simulare-en-editia-3">Test-8</a>; <span class="fw-bold text-danger">test
            pe notă</span> (condiții de examen)</li>
    <li>Ora 17-19 (cls 8., toate grupele)</li>
</ul>

<h5>Joi, Vineri (19-20 Mar.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-simulare-en-editia-3">Test-6</a>; termen predare Sâmbătă, 21 Mar.
    </li>
</ul>


<h5>Sâmbătă (21 Mar.)</h5>
<ul>
    <li>La scoală: program după orarul obișnuit.</li>
    <li>Analizăm la fiecare grupă: <span class="fw-bold">Test-5</span>, <span
            class="fw-bold">Test-8</span>
        și <span class="fw-bold">Test-6</span></li>
    </li>
    <li>Ultimele retușuri: argumentare, redactare...</li>
</ul>

<hr class="mt-5 mb-5">

<h5>Obs:</h5>
<ul class="mb-5">

    <li>
        <span class="fw-bold">Testele primite pentru acasă</span> vor fi corectate selectiv, nu vor fi notate,
        dar vor fi
        contorizate ca temă.
        <ul>
            <li>Cerința minimă este ca din fiecare test să fie făcute 6 exerciții (la alegere). Adică o treime. Varianta
                ideală ar fi ca testele sa fie făcute în întregime.</li>
            <li>
                Temele se scriu pe <span class="fw-bold">coli albe</span> (A4) și se predau la
                școală, în zilele stabilite. În caz de absență, se pot trimite pozele.
            </li>
            <li>
                Toate testele conțin atât baremul cât și <span class="fw-bold">rezolvările complete</span>.
            </li>
        </ul>


    </li>
    <li>
        <span class="fw-bold">Testele date la școală</span> (in condiții de examen) vor fi corectate integral,
        notate și returnate copiilor.
    </li>
</ul>