<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Program teză sem.1</li>
    </ol>
</nav>

<h1>Program pt. pregătirea tezei</h1>
<h2 class="mb-5"> Sem. 1, 2019-2020</h2>

<h5>Luni, Marți (11-12 Nov.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-teza-s1">Test-1</a>; termen predare Miercuri, 13 Nov.
    </li>
</ul>

<h5>Miercuri (13 Nov.)</h5>
<ul>
    {{!-- <li>La scoala: <span class="fw-bold">Test-2</span>; test pe nota (simulare
        teza, 1h)</li> --}}
    <li>La școală: <a href="/materiale-teza-s1">Test-2</a>; <span class="fw-bold text-danger">test
            pe notă</span> (condiții de examen)</li>
    <li>Ora 17-18 (toate grupele)</li>
</ul>

<h5>Joi, Vineri (14-15 Nov.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-teza-s1">Test-3</a>; termen predare Sâmbătă, 16 Nov
    </li>
</ul>

<h5>Sâmbătă (16 Nov.)</h5>
<ul>
    <li>La școală: program după orarul obișnuit.</li>
    <li>Analizăm la fiecare grupa <span class="fw-bold">Test-1</span>, <span
            class="fw-bold">Test-2</span>
        si <span class="fw-bold">Test-3</span></li>
    {{!-- <li>rezolvam <a href="/pregatire-simulare-en-en-editia-2#test3">Test-4</a> (in timpul ramas)</li> --}}
</ul>

<hr class="mt-5 mb-5">

<h5>Luni, Marți (18-19 Nov.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-teza-s1">Test-4</a>; termen predare Miercuri, 20 Nov.
    </li>
</ul>

<h5>Miercuri (20 Nov.)</h5>
<ul>
    <li>La școală: <a href="/materiale-teza-s1">Test-5</a>; <span class="fw-bold text-danger">test
            pe notă</span> (condiții de examen)</li>
    <li>Ora 17-18 (cls.6), ora 17-19 (cls.8)</li>
</ul>

<h5>Joi, Vineri, Sâmbătă (21-23 Nov.)</h5>
<ul>
    <li>Acasă: rezolvare <a href="/materiale-teza-s1">Test-6</a>, <a href="/materiale-teza-s1">Test-7</a>; termen
        predare Luni, 25 Nov (grupa-1, grupa-3) și Marți 26 Nov (grupa-2, grupa-4)
    </li>
</ul>

<h5>Sâmbătă (23 Nov.)</h5>
<ul>
    <li>Nu se țin ore (școala este închisă pt. alegeri)</li>
</ul>

<hr class="mt-5 mb-5">

<h5>Luni (25 Nov.)</h5>
<ul>
    <li>La școală: 16:30 - 18 (grupa-1), 18 - 19:30 (grupa-3)</li>
    <li>Analizăm la fiecare grupă <span class="fw-bold">Test-4</span>, <span
            class="fw-bold">Test-5</span>, <span class="fw-bold">Test-6</span>
        și <span class="fw-bold">Test-7</span></li>
    </li>
    <li>Ultimele retușuri: argumentare, redactare...</li>
</ul>

<h5>Marți (26 Nov.)</h5>
<ul>
    <li>La școală: 16:45 - 18 (grupa-2), 18 - 19 (grupa-4)</li>
    <li>Analizăm la fiecare grupă <span class="fw-bold">Test-4</span>, <span
            class="fw-bold">Test-5</span>, <span class="fw-bold">Test-6</span>
        și <span class="fw-bold">Test-7</span></li>
    </li>
    <li>Ultimele retușuri: argumentare, redactare...</li>
</ul>

<hr class="mt-5 mb-5">

<h5>Obs:</h5>
<ul class="mb-5">
    <li>
        Testele primite ca temă se scriu pe <span class="fw-bold">coli albe</span> (A4) și se predau la
        școală, în zilele stabilite. În caz de absență, se pot trimite pozele.
    </li>
    <li>
        Atât testele (primite ca temă) cât și cele 2 simulări (date in clasă) vor fi corectate, notate și returnate
        copiilor.
    </li>
    <li>
        Dacă la testele primite ca temă apar noțiuni care nu s-au predat la școală, se scrie în dreptul exercițiului
        "nu s-a făcut".
    </li>
</ul>