<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Ediția {{editionNumber}}</li>
    </ol>
</nav>
<h1>MateMaraton - Editia 4 (2020-2021)</h1>

<h5>Grupe</h5>
<ul>
    <li><a href="/clase/5f268afee0e6246b5ca2e3e2">Cls 7 - Grupa 1</a>
        <span class="text-muted">(nivel mediu)</span>
    </li>
    <li><a href="/clase/5f26cbd8e0e6246b5ca2e3ee">Cls7 - Grupa 2</a>
        <span class="text-muted">(nivel avansat)</span></li>
    <li><a href="/clase/5f536805d8278706d44205e0">Cls 5 - Grupa 3</a>
        <span class="text-muted">(nivel mediu)</span>
    </li>
    <li><a href="/clase/6029735c6cdd7057687bc6aa">Cls 5 - Grupa 4</a>
        <span class="text-muted">(nivel olimpiadă)</span>
    </li>

</ul>

<h5>Orar:</h5>
<ul>
    <li>Cls 7 - Grupa 1: 09:00 - 10:30</li>
    <li>Cls 7 - Grupa 2: 10:30 - 12:00</li>
    <li>Cls 5 - Grupa 3: 12:00 - 13:30</li>
    <li>Cls 5 - Grupa 4: 17:00 - 19:00 (în fiecare luni și vineri)</li>
</ul>
<p style="padding-left:40px">
    Cursurile se țin online.
</p>

{{!-- <h5>Comunicare:</h5>
<ul>
    <li><a href="https://matemaraton.ro">matemaraton.ro</a> - materiale de lucru, rapoarte, statistici</li>
    <li><a href="https://www.whatsapp.com" target="_blank">whatsapp</a> - grupuri de lucru cu elevii (privat)</li>
    <li><a href="https://www.facebook.com/matemaraton" target="_blank">facebook.com/matemaraton</a> - comunicare cu
        părinții
    </li>
    <li><a href="https://www.facebook.com/groups/417125302327211" target="_blank">facebook</a> "<span
            class="fw-bold">MateMaraton: ajutor la teme</span>" - trimite o
        poză și precizează clasa. Atât! </li>
</ul>

<h5>Mentor:</h5>
<ul>
    <li>ing. Lucian Măran</li>
    <li>lucian.maran@gmail.com</li>
</ul> --}}

<hr>


<h5>Absolvenții MateMaraton, Ediția 4:</h5>

<div>Grupa 1 (cls.7), Alicia C., Daria J., Darius N.</div>
<img src="https://matemaraton.blob.core.windows.net/share/matemaraton-echipa-2020-21-grupa1.jpg" class="img-fluid"
    alt="Absolventi MateMaraton Editia1">

<div class="mt-4">Grupa 2 (cls.7): Flavia A., Iulia M.</div>
<img src="https://matemaraton.blob.core.windows.net/share/matemaraton-echipa-2020-21-grupa2.jpg" class="img-fluid"
    alt="Absolventi MateMaraton Editia1">

<div class="mt-4">Grupa 3 (cls.5): Bianca B., Brianna G., Daria I., Dragoș O., Maria N., Raluca B., Roxana N., Ștefania G.</div>
<div>Grupa 4 (cls.5, pregătire olimpiadă): Bianca B., Roxana N.</div>
<img src="https://matemaraton.blob.core.windows.net/share/matemaraton-echipa-2020-21-grupa3.jpg" class="img-fluid"
    alt="Absolventi MateMaraton Editia1">

<p class="mt-4">Poze facute la sfârșitul ultimei ore de curs - iunie 2021.</p>