<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Ediția {{editionNumber}}</li>
    </ol>
</nav>
<h1>MateMaraton - Editia 5 (2021-2022)</h1>

<h5>Grupe</h5>
<ul>
    <li><a href="/clase/61437163d81d0b081b509aeb">Cls 8 - Grupa 1</a>
        <span class="text-muted">(nivel avansat)</span>
    </li>
    <li><a href="/clase/613e360feef9395aeb0f08fe">Cls8 - Grupa 2</a>
        <span class="text-muted">(nivel începător)</span></li>
    <li><a href="/clase/613e3832eef9395aeb0f08ff">Cls 6 - Grupa 3</a>
        <span class="text-muted">(nivel olimpiadă)</span>
    </li>
</ul>

<h5>Orar:</h5>
<ul>
    <li>Cls 8 - Grupa 1: 09:00 - 10:30</li>
    <li>Cls 8 - Grupa 2: 10:30 - 12:00</li>
    <li>Cls 6 - Grupa 3: 12:00 - 13:30</li>
</ul>

<hr />

<h5>Absolvenții MateMaraton, ediția 5. O poză de la ultima oră de curs (iunie, 2022):</h5>

<div>Darius Nichita, Gabriel Ciortea, Alicia Csizmarik, Giuliana Costan, Patricia Prodan, Maia Ciocani</div>
<img src="https://matemaraton.blob.core.windows.net/share/matemaraton-echipa-2021-2022.jpg" class="img-fluid" alt="Absolventi MateMaraton Editia5" />