<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Ediția {{editionNumber}}</li>
    </ol>
</nav>
<h1>MateMaraton - Editia 2 (2018-2019)</h1>

<h5>Prezenta</h5>
<ul>
    <li><a href="/clase/5d74f2a8bf3ac502d4765be8/prezenta">Cls 8 - Avansați</a></li>
    <li><a href="/clase/5d74f31ebf3ac502d4765bed/prezenta">Cls 8 - Incepători</a></li>
    <li><a href="/clase/5d74f327bf3ac502d4765bee/prezenta">Cls 5 - Avansați</a></li>

</ul>

<h5>Cursuri <span class="font-weight-light text-secondary">(poze de pe tablă)</span></h5>
<ul>
    <li><a href="/clase/5d74f2a8bf3ac502d4765be8/sesiuni-curs">Cls 8 - Avansați</a></li>
    <li><a href="/clase/5d74f31ebf3ac502d4765bed/sesiuni-curs">Cls 8 - Incepători</a></li>
    <li><a href="/clase/5d74f327bf3ac502d4765bee/sesiuni-curs">Cls 5 - Avansați</a></li>

</ul>

<h5>Materiale</h5>
<ul>
    <li><a href="/program-simulare-en-editia-2">Programul si materialele folosite pt. pregătirea simulării EN</a>
        (cls.8, sem.2)</li>
    <li><a href="https://drive.google.com/open?id=1f-pmO9J0dlvaNaoPHnDvEotK91HTAsAeXTkjTWUcEdY"
            target="_blank">Programul
            si materialele folosite pt. pregătirea tezei</a> (cls.8, sem.1)</li>
    <li><a href=" https://drive.google.com/open?id=12NknbAonWK2lffp0NC7dSowp0ij9Q4pwgfmCfV3h4mk"
            target="_blank">Planificare
            materie</a>
        (sem.1)</li>
    <li><a href="https://drive.google.com/open?id=17TLOMu2ccXAyEJEM2dQM-ahoyyfVVkgGaO-nAN3go5Y" target="_blank">Teme
            predate</a>
        (centralizator, sem.1)</li>
    <li><a href="https://drive.google.com/open?id=1eXbk_yqioy2K-jHwgwoHMd7cbJk_PW_SMXV8t787Hzo" target="_blank">Teme
            propuse</a>
        (pt. acasă, sem.1)</li>
</ul>

<h5>Orar:</h5>
<ul>
    <li>Cls 8 - Avansați: 09 - 11</li>
    <li>Cls 8 - Incepători: 11 - 12</li>
    <li>Cls 5 - Avansați: 12 - 13:30</li>
</ul>
<p style="padding-left:40px">Cursurile se țin în fiecare sâmbătă, la Școala 21, Tm.</p>

<h5>Comunicare:</h5>
<ul>
    <li><a href="https://matemaraton.ro" target="_blank">matemaraton.ro</a> - materiale de lucru, rapoarte, statistici
    <li><a href="https://matemaraton-editia2.slack.com" target="_blank">matemaraton-editia2.slack.com</a> - grupuri de
        lucru cu elevii (privat)</li>

    <li><a href="https://www.facebook.com/matemaraton" target="_blank">facebook.com/matemaraton</a> - comunicare cu
        părinții
    </li>
</ul>

{{!-- <h5>Mentor:</h5>
<ul>
    <li>ing. Lucian Măran</li>
    <li>lucian.maran@gmail.com</li>
</ul> --}}


<h5>Absolvenții MateMaraton, Ediția 2:</h5>
<div>Grupa 1: Paul, Cezar, Raul, Sara, Vali, Cristi, Carina, Mihai.</div>
<div>Grupa 2: Raluca, Alexia, Bianca, Denis, Richard.</div>
<img src="https://matemaraton.blob.core.windows.net/share/matemaraton-echipa-2018-19.jpg" class="img-fluid"
    alt="Absolventi MateMaraton Editia1">
<p>O poză facută la sfârșitul ultimei ore de curs - 1 iunie 2019.</p>