<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Ediția {{editionNumber}}</li>
    </ol>
</nav>
<h1>MateMaraton - Ediția 1 (2017-2018)</h1>

<h5>Documente</h5>
<ul>
    <li><a href="https://drive.google.com/open?id=1B7tPDyBxGRLZf-0Y-RqJea2D-T3BWRnsort-6HdiAbE"
            target="_blank">Descrierea proiectului</a></li>
    <li><a href="https://drive.google.com/open?id=14uaY1s7qRvZyKp0ggIeKAdL6BSYVr7REHQaCbnGvvTk"
            target="_blank">Activitatea si prezența - etapa de incălzire </a> (primele 4 săptămâni)</li>
    <li><a href="https://drive.google.com/open?id=1Tw3d2_Zu7BPXNkx-UE8Tj1k-q8hCkEpqnXGh53yoytE"
            target="_blank">Activitatea si prezența - etapa de anduranța</a></li>
    <li><a href="https://drive.google.com/open?id=1CGs-szeqDIu8nrFKWz6GoktLREZo5OcYAP8tzwT-0r0"
            target="_blank">Activitatea si prezența - etapa de sprint</a> (ultimele 6 săptămâni)</li>
    <li><a href="https://drive.google.com/open?id=1mMyUq4VKS1d_ZmWtidOdhooaH9szBncmTSKBmQ0KZUU" target="_blank">Analiză
            și concluzii</a></li>
</ul>

<h5>Orar:</h5>
<ul>
    <li>Cls 8 - Avansați: 09 - 10:30</li>
    <li>Cls 8 - Începători: 10:30 - 12</li>
</ul>
<p style="padding-left:40px">Cursurile se țin în fiecare sâmbătă, la Școala 21, Tm.</p>

<h5>Comunicare:</h5>
<ul>
    <li><a href="https://matemaraton.ro" target="_blank">matemaraton.ro</a> - materiale de lucru, rapoarte, statistici
    <li><a href="https://matemaraton-editia1.slack.com" target="_blank">matemaraton-editia1.slack.com</a> - grupuri de
        lucru cu elevii (privat)</li>
</ul>

<h5>Mentor:</h5>
<ul>
    <li>ing. Lucian Măran</li>
    <li>lucian.maran@gmail.com</li>
</ul>

<h5>Absolvenții MateMaraton, Ediția 1:</h5>
<p>Amalia, Alexandra, Denis, Nicoleta, Iustin, Andi</p>
<img src="https://matemaraton.blob.core.windows.net/share/matemaraton-echipa-2017-18.jpg" class="img-fluid"
    alt="Absolventi MateMaraton Editia1">
<p>O poză făcută cu câteva zile înainte de EN, la sfârșitul ultimei ore de curs. Lipsește Andi.</p>