<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Ediția {{editionNumber}}</li>
    </ol>
</nav>
<h1>MateMaraton - Editia 3 (2019-2020)</h1>

<h5>Grupe</h5>
<ul>
    <li><a href="/clase/5d92db9ba0da913a67b9a711">Cls 8 - Grupa 1</a>
        <span class="text-muted">(pregătire pt. EN, nivel avansat)</span>
    </li>
    <li><a href="/clase/5d92dba4a0da913a67b9a712">Cls 8 - Grupa 2</a>
        <span class="text-muted">(pregătire pt. EN, nivel mediu)</span></li>
    <li><a href="/clase/5d92dc63a0da913a67b9a713">Cls 6 - Grupa 3</a>
        <span class="text-muted">(pregătire pt. olimpiadă și concursuri școlare)</span>
    </li>
    <li><a href="/clase/5db470a58f57b35330bc93c5">Cls 8 - Grupa 4</a>
        <span class="text-muted">(pregătire pt. EN, nivel începător)</span>
    </li>

</ul>

{{!-- <h5>Cursuri <span class="font-weight-light text-secondary">(poze de pe tabla)</span></h5>
<ul>
    <li><a href="/sesiuni-curs/grupe/8-avansati">Cls 8 - Avansati</a></li>
    <li><a href="/curssesiuni-cursuri/grupe/8-incepatori">Cls 8 - Incepatori</a></li>
    <li><a href="/sesiuni-curs/grupe/5-avansati">Cls 5 - Avansati</a></li>

</ul> --}}

<h5>Resurse</h5>
<ul>
    <li><a href="/program-teza-s1-editia-3">Programul</a> și <a href="/materiale-teza-s1">materialele</a> folosite pt.
        pregătirea tezei (sem.1)</li>
    <li><a href="/program-simulare-en-editia-3">Programul</a> și <a
            href="/materiale-simulare-en-editia-3">materialele</a>
        folosite pt. pregătirea Simulării EN (martie 2020) {{!<span class="font-weight-bold text-danger">Nou!</span>}}
    </li>
</ul>

<h5>Orar:</h5>
<ul>
    <li>Cls 8 - Grupa 1: 09:00 - 10:45</li>
    <li>Cls 8 - Grupa 2: 10:45 - 12:00</li>
    <li>Cls 6 - Grupa 3: 12:00 - 13:30</li>
    <li>Cls 8 - Grupa 4: 13:30 - 14:30</li>
</ul>
<p style="padding-left:40px">
    Cursurile se țin în fiecare sâmbătă, la
    <a href="https://scoala21.ro" target="_blank">Școala 21</a>, Timișoara. </br>
    <span class="font-weight-bold">Update: </span>
    începând cu 14 Martie 2020, cursurile se țin online (la aceleași ore).
</p>

{{!-- <h5>Comunicare:</h5>
<ul>
    <li><a href="https://matemaraton.ro">matemaraton.ro</a> - materiale de lucru, rapoarte, statistici</li>
    <li><a href="https://www.whatsapp.com" target="_blank">whatsapp</a> - grupuri de lucru cu elevii (privat)</li>
    <li><a href="https://www.facebook.com/matemaraton" target="_blank">facebook.com/matemaraton</a> - comunicare cu
        părinții
    </li>
    <li><a href="https://www.facebook.com/groups/417125302327211" target="_blank">facebook</a> "<span
            class="font-weight-bold">MateMaraton: ajutor la teme</span>" - trimite o
        poză și precizează clasa. Atât! </li>
</ul>

<h5>Mentor:</h5>
<ul>
    <li>ing. Lucian Măran</li>
    <li>lucian.maran@gmail.com</li>
</ul> --}}

<hr>


<h5>Absolvenții MateMaraton, Ediția 3:</h5>
<div>Grupa 1 (cls.8): Alexandru, Miruna, Teodora, Mario și Paolo</div>
<div>Grupa 3 (cls.6): Flavia, Darius, Laurențiu, Iulia, Alicia, Felicia, Mihnea, Daria.</div>
<img src="https://matemaraton.blob.core.windows.net/share/matemaraton-echipa-2019-20.jpg" class="img-fluid"
    alt="Absolventi MateMaraton Editia1">
<p>O poză facută la sfârșitul ultimei ore de curs - 16 iunie 2020.</p>