<h1>Contact</h1>

<ul>
    <li>ing. Lucian Măran</li>
    <li>lucian.maran@gmail.com</li>
    <li><a href="https://www.facebook.com/lucian.maran/" target="_blank">facebook.com/lucian.maran</a>
        <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small>
    </li>
</ul>

<h5>Clase (cursuri fizice):</h5>
<ul>
    <li><a href="https://www.facebook.com/matemaraton" target="_blank">facebook/matemaraton</a>
        <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small>
    </li>
</ul>

<h5>Comunitate (ajutor la teme și antrenament):</h5>
<ul>
    <li><a href="https://www.facebook.com/groups/matemaraton" target="_blank">facebook/groups/matemaraton</a>
        <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small>
    </li>
</ul>