<style>
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }

    .card-body {
        cursor: pointer;
    }
</style>

{{!-- <div class="alert alert-info" role="alert">
    <i class="fa fa-info-circle mr-2 fa-lg"></i>
    Am afișat <a href="/clase">clasele</a> disponibile (cu opțiunea de înscriere) pt. <strong>Ediția 4</strong> (an
    școlar 2020 - 2021).
</div> --}}

<div class="starter-template">
    <h1>Cursuri de matematică pentru gimnaziu</h1>
    <h5 class="font-weight-light"> Un proiect implementat de voluntari, în parteneriat cu Școala 21
        "Vicențiu Babeș", Timișoara.</h5>
    <h5 class="mt-4">Ediția 4 (2020-2021)</h5>


</div>


<div class="card-deck">
    <div class="card">

        <div class="card-body" onclick="location.href = '/clase';">
            <div class="text-center text-muted">
                <i class="fas fa-chalkboard-teacher fa-2x"></i>
            </div>
            <h3 class="text-center pt-2 pb-2">Clase</h3>
            <p class="card-text">Grupe de 8-12 elevi care se pregătesc la matematică sub
                îndrumarea unui
                instructor.
                Activitățile se desfășoară în format online sau într-o sală de clasă. Totul gratuit.
            </p>
        </div>
        <div class="card-footer text-center2">
            <a href="/clase">Vezi toate clasele</a>
        </div>
    </div>

    {{#if @root.user.isAdmin}}
    <div class="card">
        <div class="card-body">
            <div class="text-center text-muted">
                <i class="far fa-newspaper fa-2x"></i>
            </div>
            <h3 class="text-center pt-2 pb-2">Cursuri</h3>
            <p class="card-text pb-2">Suporturi de curs (lecții, exerciții rezolvate și teme propuse pentru acasă),
                toate
                grupate pe ani de studiu, nivel de
                dificultate și unități de învățare. </p>
            <p class="card-text"><small class="text-muted font-weight-light2">Utile și celor care se
                    pregătesc fără
                    instructor.</small></p>
        </div>
        <div class="card-footer">
            <a href="/cursuri">Află mai multe</a>
        </div>
    </div>
    {{/if}}

    <div class="card">
        <div class="card-body">
            <div class="text-center text-muted">
                <i class="far fa-comments fa-2x"></i>
            </div>
            <h3 class="text-center pt-2 pb-2">Comunitate</h3>
            <p class="card-text">Dacă ai nevoie de ajutor, trimite o poză cu exercițiul pe care nu știi să-l faci și
                precizează clasa. Atât!.

            <p class="card-text"><small class="text-muted">Inclusiv pentru părinți.</small></p>
        </div>
        <div class="card-footer">
            Grup fb: <a href="https://www.facebook.com/groups/417125302327211" target="_blank">MateMaraton: ajutor
                la
                teme</a>
            <small><i class="fas fa-external-link-alt text-muted text-small" aria-hidden="true"></i></small>
        </div>
    </div>
</div>

<h5 class="mt-5">Ediții anterioare:</h5>
<ul>
    <li><a href="/editia-3">Ediția 3</a> (2019 - 2020)</li>
    <li><a href="/editia-2">Ediția 2</a> (2018 - 2019)</li>
    <li><a href="/editia-1">Ediția 1</a> (2017 - 2018)</li>
</ul>

{{!-- <h5>Exemple (ediția 3)</h5>
<ul>
    <li><a href="/clase/5d92db9ba0da913a67b9a711">Cls 8 - Grupa 1</a>
        <span class="text-muted">(pregătire pt. EN, nivel mediu-avansat)</span>
    </li>
    <li><a href="/clase/5d92dc63a0da913a67b9a713">Cls 6 - Grupa 3</a>
        <span class="text-muted">(pregătire pt. olimpiadă și concursuri școlare)</span>
    </li>
</ul> --}}

{{!--<h5>Orar:</h5>
<ul>
    <li>Cls 8 - Grupa 1: 09:00 - 10:45</li>
    <li>Cls 8 - Grupa 2: 10:45 - 12:00</li>
    <li>Cls 6 - Grupa 3: 12:00 - 13:30</li>
    <li>Cls 8 - Grupa 4: 13:30 - 14:30</li>
</ul>
<p style="padding-left:40px">Cursurile se țin în fiecare sâmbătă, la <a href="https://scoala21.ro"
        target="_blank">Școala 21</a>, Tm.</p> --}}

{{!-- <h5>Comunicare:</h5>
<ul>
    <li><a href="https://matemaraton.ro">matemaraton.ro</a> - materiale de lucru, rapoarte, statistici
    <li><a href="https://www.whatsapp.com" target="_blank">whatsapp</a> - grupuri de lucru cu elevii (privat)</li>
    <li><a href="https://www.facebook.com/matemaraton" target="_blank">facebook.com/matemaraton</a> - comunicare cu
        părinții
    </li>
    <li><a href="https://www.facebook.com/groups/417125302327211" target="_blank">facebook</a> "<span
            class="font-weight-bold">MateMaraton: ajutor la teme</span>" - trimite o
        poză și precizează clasa. Atât! </li>
</ul>
--}}

<h5>Contact:</h5>
<ul>
    <li>ing. Lucian Măran</li>
    <li>lucian.maran@gmail.com</li>
    <li><a href="https://www.facebook.com/matemaraton" target="_blank">facebook/matemaraton</a>
        <small><i class="fas fa-external-link-alt text-muted" aria-hidden="true"></i></small>
    </li>
</ul>

{{!--
<hr> --}}

{{#if @root.user.isAdmin}}
<h5 class="mt-5">Admin:</h5>
<ul>
    <li><a href='/exercitii'>Exerciții</a></li>
    <li><a href='/lectii'>Lecții</a></li>
    <li><a href='/teste'>Teste</a></li>
</ul>
{{/if}}

<h5>Diverse (în lucru):</h5>
<ul>
    <li><a href='/teste'>Teste</a></li>
</ul>