<div class="container-fluid">
    <div class="alert alert-success">
        <i class="bi bi-check-circle me-2"></i>
        Cererea de înscriere a fost
        <strong>înregistrată</strong>
        cu success!
    </div>
    Poți continua cu
    <a href="/">pagina principală</a>.
</div>