<div class="container-fluid">
    <div class="alert alert-success">
        <i class="fa fa-check mr-2"></i> Cererea de înscriere a fost <strong>înregistrată</strong> cu success!
    </div>
    Poți continua cu <a href='/'>pagina principală</a>.
</div>