<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{!-- <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li> --}}
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item"><a href="/exercitii">Exerciții</a></li>
        <li class="breadcrumb-item active" aria-current="page">E{{exercise.code}}</li>
    </ol>
</nav>


<h1>Exercițiul {{exercise.code}}</h1>


<div id="question-txt" rows="15" cols="150">{{{exercise.question.statement.textPreview}}}</div>

{{#if canCreateOrEditExercise}}
<a href="/exercitii/edit/{{exercise.code}}">Edit</a>
{{/if}}