<nav aria-label="breadcrumb">
    <ol class="breadcrumb pe-2">
        <li class="breadcrumb-item"><a href="/">Acasă</a></li>
        <li class="breadcrumb-item active">Materiale</li>
    </ol>
</nav>

<h1>Materiale:</h1>

<h5 class="mt-5">Clasa a 5-a:</h5>
<ul>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-scolara-cls-5.pdf">Programa școlară</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-olimpiada-cls-5.pdf">Programa pentru olimpiadă (MEN)</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-olimpiada-gm-cls-5-8.pdf">Programa pentru olimpiadă (GM)</a></li>
</ul>

<h5 class="mt-5">Clasa a 6-a:</h5>
<ul>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-scolara-cls-6.pdf">Programa școlară</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-olimpiada-cls-6.pdf">Programa pentru olimpiadă (MEN)</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-olimpiada-gm-cls-5-8.pdf">Programa pentru olimpiadă (GM)</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/manual-cls6-sc21.pdf">Manual (folosit la Șc.21, Tm)</a></li>
</ul>

<h5 class="mt-5">Clasa a 7-a:</h5>
<ul>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-scolara-cls-7.pdf">Programa școlară</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-olimpiada-cls-7.pdf">Programa pentru olimpiadă (MEN)</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-olimpiada-gm-cls-5-8.pdf">Programa pentru olimpiadă (GM)</a></li>
</ul>

<h5 class="mt-5">Clasa a 8-a:</h5>
<ul>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-scolara-cls-8.pdf">Programa școlară</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-en-2020-2021.pdf">Programa pentru EN (2020-2021)</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-olimpiada-cls-8.pdf">Programa pentru olimpiadă (MEN)</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/programa-olimpiada-gm-cls-5-8.pdf">Programa pentru olimpiadă (GM)</a></li>
    <li><a href="https://matemaraton.blob.core.windows.net/share/manual-cls8-sc21.pdf">Manual (folosit la Șc.21, Tm)</a></li>
</ul>

<hr class="mt-5" />

<h5 class="mt-5">Diverse (5-8):</h5>
<ul>
    <li><a href="https://www.manuale.edu.ro/">Manuale digitale</a> <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small></li>
    <li><a
            href="https://www.edupedu.ro/structura-anului-scolar-2021-2022-cursurile-incep-luni-13-septembrie-cand-se-dau-teze-cand-sunt-vacantele-programate-si-cand-incep-evaluarea-nationala-si-bacalaureatul-2022/"
        >Structura anului școlar 2021-2022</a>
        <small><i class="bi bi-box-arrow-up-right" aria-hidden="true"></i></small>
        <span> (inclusiv calendar EN)</span>
    </li>
</ul>