<div class="container-fluid">
    <div class="alert alert-success">
        <i class="bi bi-check-circle me-2"></i>
        Parola a fost
        <strong>resetată</strong>
        cu success!
    </div>

    {{#if userIsNotAuthenticated}}
        Poți continua cu pagina de
        <a href="/login">login</a>
    {{else}}
        Poți continua cu
        <a href="/">pagina principală</a>.
    {{/if}}
</div>