<div class="container-fluid">

    <div class="alert alert-info">
        <i class="fa fa-info mr-2"></i> Contul aferent accestei invitații a fost deja <strong>activat</strong>!
    </div>

    Poți continua cu pagina de <a href="/login">login</a>.

</div>