<div class="container-fluid">

    <div class="alert alert-info">
        <i class="fa fa-info mr-2"></i> Acest cont a fost deja <strong>activat</strong>!
    </div>
    {{#if isNotAuthenticated}}
    Poți continua cu pagina de <a href="/login">login</a>.
    {{/if}}

</div>