<style>
    @media print {

        #printPageButton,
        #goBackButton {
            display: none;
        }
    }
</style>

<div style="border: 1px solid gray; padding: 6px 12px 0 12px" class="mt-2">
    {{{exercise.question.statement.textPreview}}}
</div>
<div class="font-italic small text-right text-muted">{{exercise.contestName}}</div>
<div class="font-italic small text-right text-muted mb-2">{{exercise.sourceName}}</div>

<button id="printPageButton" type="button" class="btn btn-primary" onclick="window.print()">
    <i class="fas fa-print"></i> Tipărește
</button>

<a id="goBackButton" href="/exercitii/{{exercise._id}}" class>Înapoi la exercițiu</a>